@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Poppins:wght@300&family=Raleway:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
    /* border: 1px solid black; */
    box-sizing: border-box;
}




    /* ***************NavBar**************** */
    nav{    
        display: flex;
        position: relative;
    }
    nav .link{
        display: flex;
        position: relative;
        margin: 1rem 2rem;
        text-decoration: none;
        color: white;
    }

    nav #marker {
        position: absolute;
        left: 0;
        height: 4px;
        width: 0;
        background-color: rgb(223, 0, 74);
        bottom: 10px;
        transition: 0.50s;
    }



    .Nav-con{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .link{
        color: white;
        font-size: 15px;
        text-decoration: none;
        display: flex;
        margin: 15px;
    }

    .link:hover{
        color: rgba(255, 255, 255, 0.863);
    }

    .text-con h1 {
        font-weight: 700;
        margin-top: 2%;
    }

     h1 span{
        color: #2EB872;
    }


    .social-menu ul{
        display: flex;
        transform: translate(-50% , -50%);
        align-items: center;
        margin-left: 20%;
        font-size: 5px;
        
    }
    
    .social-menu ul li{
        list-style: none;
        margin: 0 15px;
        font-size: 15px;
        font-size: 5px;
    }
    
    .social-menu ul li .fa{
        font-size: 15px;
        line-height: 30px;
        transition: .4s;
        color: #000;
        
    }
    .social-menu ul li .fa:hover{
        color: white;
        
    }
    .social-menu ul li a{
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        transition: .4s;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        font-size: 5px;
    }
    
    
    .social-menu ul li a:hover{
        transform: translate(-0 , -10px);
        
    }
    
    
    .social-menu ul li:nth-child(1) a:hover{
        background-color: #3b5999;
        color: #ffff;
    }
    
    .social-menu ul li:nth-child(2) a:hover{
        background-color: #075E54;
        color: #ffff;
    }
    
    .social-menu ul li:nth-child(3) a:hover{
       background-color: #f83b90;
       color: #ffff;
    }
    
    .social-menu ul li:nth-child(4) a:hover{
      background-color: #0077B5;
      color: #ffff;
    }